<!--

  FEI Summer 2019 Coop Assignment
  
-->
<app-shared navtype=top></app-shared>

<section class="section">
  <div class="container">
    <form [formGroup]="loginForm" (ngSubmit)='onSubmit()'>
      <div class="field is-grouped">
        <p class="control has-icons-left">
          <input class="input" type="text" placeholder="UserName" formControlName="userName">
          <span class="icon is-small is-left">
            <i class="fa fa-user"></i>
          </span>
          <div *ngIf="!loginForm.controls['userName'].valid && loginForm.dirty" class="error">required</div>

      </div>

      <div class="field is-grouped">
        <p class="control has-icons-left">
          <input class="input" type="password" placeholder="Password" formControlName="pw">
          <span class="icon is-small is-left">
            <i class="fa fa-lock"></i>
          </span>
      
        
      </div>
      <p class="control">
        <button class="button is-info" type="submit" [disabled]="!loginForm.valid">Login</button>
      </p>
    </form>
  </div>
</section>
